*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    overflow-x: hidden;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #220f3a;
}


/* Shared tag in the repository */

.Wave{
    background: linear-gradient(
    to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
);

-webkit-background-clip: text;
color: transparent;
font-size: 4rem;
}

.subscribe-btn{
    background: linear-gradient(
    45deg,
    #F7E93F,
    #FB09B4,
    #9100F8
    );
    font-size: 1.1rem;
    font-weight: 500;
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    color: rgb(222, 182, 182);
}

.grid-cart-section-heading{
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 16px 0;
}

.grid-cart-section-paragraph{
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 400;
}

.Grid-heading{
    color: white;
    font-size: 3rem;
    font-weight: 600;
}

.rating-review{
    color: #00FF88;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 8px;
}

.podcast-paragraph{
    color: #bca5a5;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}


/* Nav bar styles */

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 9px;
}
.list-items ul{
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 0.90rem;
    font-weight: 500;
}
.list-items ul a{
    text-decoration: none;
    color: white;
    
}
.Tech{
    color: white;
    font-size: 4rem;
    font-weight: 600;
}

.hamburger-icon{
    display: none;
}

/* Hero section started from here  */


.hero-section{
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}
.circle{
    position: absolute;
    top: 101px;
    left: 625px;
}
.microphone{
    position: absolute;
    top: 178.33px;
    left: 741.67px;
}

.new{
    background-color: #00FF88;
    position: absolute;
    font-size: 18px;
    font-weight: 600;
    padding: 4px;
    border-radius: 8px;
    top: 113px;
    left: 877px;


    animation: float 3s ease-in-out infinite, glow 2s infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

@keyframes glow {
  0% { box-shadow: 0 0 5px #38bdf8; }
  50% { box-shadow: 0 0 25px #38bdf8; }
  100% { box-shadow: 0 0 5px #38bdf8; }
}

.grid-heading{
    color: white;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 600;
    position: absolute;
    top: 491px;
    left: 45%;
    transform: translateX(-10%);
}

.grid-cart-section-paragraph{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    top: 572px;
}
.hero-section .subscribe-btn{
    /* border: 2px solid red; */
    max-width: 200px;
    position: absolute;
    top: 615px;
    left: 622px;
}

.hero-button-subscribe{
    color: #00FF88;
    display: flex;
    justify-content: center;
    gap: 3px;
    border: 1px solid #00FF88;
    max-width: 147px;
    border-radius: 8px;
    padding: 12.5px 20px 12.5px ;
    position: absolute;
    top: 615px;
    left: 831px;
    cursor: pointer;
}

/* Podcast Folder started from here  --> */

.whole-podcast{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 200px;
    gap: 20px;
}

.reputation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.podcast-paragraph{
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 400;
    /* max-width: 1200px; */
    text-align: center;
}

/* Grid cart section started from here  */

.Grid-heading{
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}

.grid-cart-whole{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 120px;
}

.grid-cart{
    grid-row: span 2;
    background-color: #351165;
    display: flex;
    flex-direction: column;
    justify-content:center;
    border-radius: 40px;
    padding: 40px;
}
.grid-cart img{
    height: 60px;
    width: 60px;
}
.grid-cart-1 img{
    height: 80px;
    width: 60px;
    padding: 10px;
}
.grid-cart-2 img{
    height: 60px;
    width: 60px;
}
.grid-cart-1, .grid-cart-2{
    grid-column: span 2;
    background-color: #351165;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius:40px;
    padding: 40px;
}

.grid-cart-3{
    grid-column: span 2;
    background-color: #351165;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    padding: 40px;
}

.grid-cart-3 img{
    height: 60px;
    width: 60px;
    border-radius: 8px;
    padding-top: 12px;
}

.grid-cart-4{
    grid-column: span 1;
    background-color: #351165;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 40px;
    padding: 40px;
    /* padding-bottom: 40px; */
}
.grid-cart-4 p{
    padding-bottom: 40px;
}
.grid-cart-4 img{
    height: 100px;
    width: 60px;
    border-radius: 8px;
    padding-top: 40px;
}

.grid-cart-whole .podcast-paragraph{
    text-align: left;
}



/* Featured section styles */

.Featured-episode{
    max-width: 1200px;
    margin: 0 auto;
    /* display: flex; */

}

.feature-heading{
    color: white;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 40px;
}

.yt-video iframe{
    border-radius: 10px;
    height: 230px;
    width: 375px;
    padding: 4px;
}


.Featured-episode .featured-cart{
    display: flex;
    flex-direction: column;
    /* background-color: #705a8d; */
    background-color: #250D44;
    width: 380px;
    /* height: 440px; */
    border-radius: 8px;
    /* border: 3px solid red; */
}
.feature-text{
    color: white;
    font-size: 0.7rem;
    font-weight: 300;
    padding: 24px 24px 12px 24px;
}

.feature-description{
    color: #FFFFFF;
    padding: 12px 24px 12px 20px;
    font-size: 0.90rem;
    font-weight: 400;
}

.feature-time{
    color: white;
    padding: 24px;
}
.feature-whole{
    display: flex;
    flex-wrap: column;
    justify-content: center;
    gap: 30px;
}

.feature-time{
    display: flex;
    align-items: center;
    gap: 8px;
}
.feature-time img{
    height: 17px;
    width: 17px;
}
.Featured-episode{
    margin-bottom: 120px;
}

/* Host section started from here  */

.host-whole{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #250D44;
    border-radius: 12px;
    padding: 40px;
    margin-bottom: 120px;
}
.meet-host-heading{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 600;
}

.host-pic{
    height: 200px;
    width: 200px;
}

.host-info{
    color: white;
    padding: 20px;
    padding-left: 20px;
}
.host-info p{
    padding: 20px 0;
    font-size: 16px;
    font-weight: 600;
    color: #e6e2e2;
}
.host-info .social-link{
    display: flex;
    justify-content: left;
    gap: 8px;
}
.pic-1, .pic-2, .pic-3, .pic-4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid white;
}

.host-info .podcast-paragraph{
    text-align: left;
}
/* footer section started from here  */

.footer{
    max-width: 1600px;
    margin: 0 auto;
    position: relative;
}

.footer .flex-icon-link{
    display: flex;
    justify-content: center;
    gap: 4px;
}

.footer-flex{
    display: flex;
    gap: 40px;
    justify-content: center;
    position: absolute;
    top: 212px;
    left: 548px;
}

.footer-description{
    position: absolute;
    top:268px;
    left: 610px;
}

.grid-cart-section-paragraph-2{
    color: #FFFFFF;
    opacity: 0.6;
    font-size: 1rem;
    font-weight: 400;
}

.footer-heading{
    position: absolute;
    top: 120px;
    left: 595px;
    font-size: 5rem ;
    padding-bottom: 8px;
}

.footer h3 .Coloring-wave{
    background: linear-gradient(
    to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );

  -webkit-background-clip: text;
  color: transparent;
}

.Tech-footer{
    color: white;
    font-size: 5rem;
    font-weight: 600;
}

/* Medium device responsive styles */

@media  screen and (max-width:576px)  {

    .list-items,
    .btn-1{
        display: none;
    }
    .hamburger-icon{
        display: block;
        color: white;
        cursor: pointer;
    }

    .Tech {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

    .Wave {
    background: linear-gradient(to right, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2rem;
}



    .feature-whole{
        display: flex;
        flex-wrap: wrap;
    }
    .grid-cart-whole{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        /* padding-left: 20px; */
        margin-left: 20px;
    }
    .Grid-heading{
        font-size: 1.5rem;
    }

    .whole-podcast{
        padding: 50px;
    }

    .podcast-paragraph{
        font-size: 1.2rem;
    }
    .reputation{
        display: flex;
        flex-wrap: wrap;
    }
     .host-whole{
        flex-wrap: wrap;
     }
    .host-pic{
        padding-left: auto;
    }
    .host-info h1,
    .podcast-paragraph{
        text-align: center;
    }
    .host-info .social-link{
        display: flex;
        justify-content: center;
    }
    .circle{
        left: 120px;
    }
    .microphone{
        left: 230px;
    }
    .new{
        left: 360px;
    }
    .grid-heading{
        left: 180px;
    }
    .grid-cart-section-paragraph{
        left: 290px;
    }
    .hero-section .subscribe-btn{
    left: 130px;
    }
    .hero-button-subscribe{
        left: 320px;
    }
    .grid-cart-section-paragraph{
        width: 400px;
    }
    .footer-heading{
        left: 130px;
    }
    .footer-flex{
        left: 20px;
    }
    .footer-description{
        left: 150px;
    }
}